services:
  grafana-prometheus:
    image: prom/prometheus:latest
    container_name: grafana-prometheus
    hostname: grafana-prometheus
    volumes:
      - ./config-prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - ./data-prometheus:/prometheus

    networks:
      - tex-network

    healthcheck:
      test: ["CMD-SHELL", "wget --no-verbose --tries=1 --spider http://localhost:9090/-/healthy || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 20s

networks:
  tex-network:
    external: true