services:
  grafana-prometheus:
    image: prom/prometheus:latest
    container_name: grafana-prometheus
    hostname: grafana-prometheus
    volumes:
      - ./config-prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - ./data-prometheus:/prometheus

    networks:
      - tex-network

networks:
  tex-network:
    external: true